
.date {
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 50px;
}

.date dl.date-on {
    background-color: rgba(2, 94, 255, .1);
}

.date dl {
    width: 100%;
    display: flex;
    align-items:center;
    padding: 20px;
    border-radius: 15px;
    margin-right: 30px;
    transition: background-color .3s;
}

.date dl dt {
    padding: 30px;
    border-radius: 50%;
    background-color: rgba(2, 94, 255, .1);
    margin-right: 30px;
    transition: background-color .3s;
}

.date dl dt i{
    --Iconsax-Size:28px;
    --Iconsax-Color:#025eff;
    transition: .3s;
}

.date dl dt i {
    --Iconsax-Color:#666;
}

.date dl dd label {
    width: 100%;
    cursor: pointer;
}

.date dl dd label span{
    display: block;
    font-size: 14px;
    color:#666;
    font-weight: 700;
    margin-bottom: 10px;
}

.date dl dd label input {
    word-wrap: break-word;
    background-color: transparent;
    font-weight: 600;
    border: none;
    outline: none;
    font-size: 24px;
    color:#555;
    cursor: pointer !important;
}